@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Playfair+Display:wght@400;500;700&family=Rubik+Doodle+Shadow&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #EAD3D4;
}

h1 {
    padding: 0 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-size: 75px;
    color: #9384d0;
}

h1:hover {
    color: white;
    cursor: default;
}

p {
    padding: 10px;
    margin: 10px;
    margin-left: 135px;
}

label {
    margin: 10px;
    padding: 10px;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-size: 35px;
    color: #9384d0;
}

label:hover {
    color: white;
}

input {
    border: 3px solid #9384d0;
    border-style: double;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

input:hover {
    background-color: #9384d0;
}

select {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #9384d0;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

select:after {
    content: '\25BC';
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    pointer-events: none;
}

button {
    background-color: white;
    border: white;
    width: 120px;
    margin-left: 20px;
    height: 60px;
    font-size: 16px;
    border: 2px dotted black;
    background-color: white;
    border-radius: 4px;
    color: #9384d0;
    font-weight: bold;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-shadow: 2px 2px 4px #9384d0;
}

button:hover {
    cursor: url(https://cdn.custom-cursor.com/db/7383/32/food-and-drinks-popcorn-and-corn-pointer.png) , default !important;
}

footer {
    align-items: baseline;
    position: fixed;
    bottom: 0px;
}

.footer-container {
    display: flex;
}

.container {
    display: flex;
    line-height: 1.5;
}

.movieResults {
    margin: 10px;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
    justify-content: space-around;
    flex-direction: row;
}

div .movie-info-output:hover {
    color: #9384d0;
    font-size: 32px;
    cursor: default;
}

#textInputButton {
    box-shadow: 4px 4px 8px black;
}

#selectButton {
    box-shadow: 4px 4px 8px black;
}

.inputs {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-flex;
}

.copy-txt {
    justify-content: center;
    align-items: center;
}

.movie-img {
    width: 250px;
    margin: 10px;
}

.movie-text {
    flex-wrap: wrap;
    margin: 16px;
}

.movie-title-img {
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #9384d0;
    font-size: 20px;
}

.movie-title-img {
    cursor: default;
}

.movie-info-output {
    font-size: 30px;
    color: #9384d0;
    flex-wrap: wrap;
}

.reset-btn-div {
    flex-wrap: wrap;
}

.reset-btn {
    width: 150px;
    margin: 20px;
    box-shadow: 4px 4px 8px black;
}

button:hover{
    color: black;
    background-color: #9384d0;
    cursor: pointer;
}